<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Regular: 16Mar2015(seg), 17Mar2015(ter), 18Mar2015(qua)</string>
	<string>Regular: 20Mar2015(sex), 21Mar2015(sab), 22Mar2015(dom)</string>
	<string>Vip: 26Mar2015(qui), 27Mar2015(sex), 28Mar2015(sab)</string>
</array>
</plist>
